/* 글꼴 */
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* 키프레임 애니메이션 */
@keyframes product_ani {
    /* 0% { top: 20%;}
    50% { top: 22%;}
    100% { top: 10%;} */
    0% {transform: rotateZ(2deg);}
    50% {transform: rotateZ(-2deg);}
    100% {transform: rotateZ(2deg);}
}
* { margin: 0; padding: 0 ;}
li { list-style: none;}
a { text-align: center; display: block; font-family: 'Noto Sans KR', sans-serif; color: #111;}

html,body {
    font-family: 'Noto Sans KR', sans-serif;
    overflow-x: hidden;
}
header, section, footer {
    width: 100%;
    float: left;
}
header, section, footer, div {
    box-sizing: border-box;
}
img { width: 100%;}

/* pc버전은 미디어쿼리 안씀 */
header {
    /* 자식객체가 가로로 나열되면서 여백을 균등하게 */
    display:flex;
    justify-content: space-between;
    height:120px;
    background-color: transparent;
    /* background-color: #f9eefe; */
    position: fixed;
    z-index:100;
    top:0;
    left:0;
    transition: all 0.5s;
}
header.active {
    background-color: #fff;
    height: 80px;
}
header.active .logo {
    width: 65px;
    height: 63px;
    margin-top: 10px;
}
header.active nav {
    margin-top: 0px;
}
header.active .right_menu {
    margin-top: 30px;
}
header .logo {
    background-image: url(../img/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:95px;
    height:93px;
    margin-top: 15px;
    margin-left:60px;
    transition: all 0.5s;
}
header .logo a { height:100%; }
/* 내비게이션 */
header nav {
    margin-top:30px;
    margin-left: 130px;
    width:900px;
    position: relative;
    z-index: 110; 
}
header nav > ul {
    /* 자식 객체 li를 가로로 정렬하고 균등배열 */
    display: flex;
    justify-content: space-between;      
}
header nav > ul > li {
    text-align: center;
    /* li의 가로길이를 동일한 비율로 할당함 */
    flex:1; 
}
header nav > ul > li > a {
    font-weight: bold;
    font-size:16px;
    line-height:24px; 
    /* padding: 0 30px; */
}
header nav > ul > li > a i {
    color:#fc8643;
    font-size:10px;
    margin-bottom: 15px;
    opacity: 0;
    transition:all 0.3s;
}
header nav > ul > li .main_menu {
    position: relative;
    overflow: hidden;
    height:24px;
}
header nav > ul > li .main_menu .main_menu_box {
    position: absolute;
    top:-24px;
    width:100%;
    height:24px;
    text-align: center;
    white-space: nowrap;
    transition:all 0.3s;
}
header nav > ul > li > a p:first-child {
    color:#fc8643;
}
/* 주메뉴에 마우스 오버 했을 때 글자가 한글로 바뀌는 애니메이션 */
header nav > ul > li:hover .main_menu .main_menu_box {
    top:0;
}
/* 주메뉴에 마우스 오버 했을 때 글자 위에 도형 나타남 */
header nav > ul > li:hover i {
    opacity: 1;
}
/* 내비게이션 서브메뉴 */
header nav .sub {
    padding:30px;
    display: none;
}
header nav .sub li a {
    font-size:14px;
    padding:10px;
    font-weight: bold;
    text-decoration: none;
}
header nav .sub li a:hover {
    color:#fc8643;
}
header .right_menu {
    margin-top:60px;
    margin-right: 50px;
    transition: all 0.5s;
}
header .right_menu ul {
    display: flex;
    justify-content: space-between;
}
header .right_menu ul li {
    margin:10px;
}
header .right_menu ul li a {
    font-size:13px;
    text-decoration: none;
}
header .right_menu ul li:last-child { margin:0 10px; }
header .right_menu ul li:last-child a {
    background-color: #fc8643;
    color:white;
    padding:7px 16px;
    border-radius:20px;
}
/* sub_bg(서브메뉴 배경) */
header .sub_bg {
    width: 100%;
    position: absolute;
    background-color: #fff;
    opacity: 0.8;
    height: 160px;
    top: 120px;
    left: 0;
    z-index: 40;
    display: none;
}
header.active .sub_bg {
    top: 70px;
}
/* pc버전에서는 메뉴 버튼 안 보임 */
header .menu_btn {
    display: none;
}
header .mobile_nav {
    display: none;
}
/* section */
section:nth-child(odd){
    background-color: lightgoldenrodyellow;
}
section:nth-child(even){
    background-color: lightblue;
}
/* fullpage */
/* fullpage 의 navigation중 마지막 li 숨김 */
#fp-nav ul li:last-of-type { display: none;}
#fp-nav ul li {
    margin:30px;
}
/* fullpage의 navigation의 li span에 도형 넣기 */
#fp-nav ul li a span {
    background-image:url(../img/a2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:14px;
    height:14px;
    margin:-7px 0 0 -7px;
    background-color: transparent;
}
/* navigation 마우스 오버 */
#fp-nav ul li:hover a span {
    background-image:url(../img/a1.png);
    width:20px;
    height:20px;
    margin: -10px 0 0 -10px;
}
/* navigation 활성화 */
#fp-nav ul li a.active span {
    background-image:url(../img/a1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width:20px;
    height:20px;
    margin: -10px 0 0 -10px;
}
#fp-nav ul li:hover a.active span {
    width:20px;
    height:20px;
    margin:-10px 0 0 -10px;
}
/* tooltip */
#fp-nav ul li .fp-tooltip {
    padding:0 38px;
    background-color:#fc8643 ;
    font-size:14px;
    line-height:47px;
    border-radius: 30px;
    position: absolute;
    display: block;
    top:-15px;
    margin-right: 20px;
    overflow: visible;
}
#fp-nav ul li .fp-tooltip:after {
    content:"";
    position: absolute;
    border:6px solid transparent;
    border-left:6px solid #fc8643;
    right:-10px;
    display: block;
    top:50%;
    transform:translateY(-50%);
    width:0;
    height:0;    
}
/* swiper */
.visual .swiper {
    height:100%;
}
.visual .swiper .swiper-slide {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.visual .swiper .s1 {
    background-image: url(../img/1-3.png);
}
.visual .swiper .s2 {
    background-image: url(../img/1-1.png);
}
.visual .swiper .s3 {
    background-image: url(../img/1-2.png);
}
.visual .swiper-horizontal>.swiper-pagination-bullets {
    bottom:30px;
}
.visual .swiper-horizontal>.swiper-pagination-bullets span {
    width:16px;
    height:16px;
    margin: 0 10px;
    background-color: #fc8643;
}
/* 2번째 */
.banner {
    background-image: url(../img/2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner h1 {
    color: #fc8643;
    font-size: 68px;
}
.banner div {
    display: flex;
    /* 열기준 줄바꿈 방지 */
    flex-flow: column nowrap;
    /* 수평 가운데 정렬 */
    justify-content: center;
    /* 수직 가운데 정렬 */
    align-items: center;
}
.banner .contents {
    width: 50%;
    margin-top: 100px;
    margin-right: 25px;
}
.banner .contents ul {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.banner .contents ul li {
    width: 280px;
    height: 340px;
    position: relative;
}
.banner .contents ul li a {
    height: 100%;
}
.banner .contents ul li .li_bg {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}
.banner .contents ul li .bg1 {
    width: 300px;
    height: 300px;
    border-radius: 160px;
    background-color: #f89679;
    
} 
.banner .contents ul li .bg2 {
    width: 300px;
    height: 300px;
    border-radius: 160px;
    background-color: #82c99d;
}
.banner .contents ul li .bg3 {
    width: 300px;
    height: 300px;
    border-radius: 160px;
    background-color: #7ea8da;
}
/* 모든 section에 있는 공통 스타일 */
.contents .hover_ani {
    position: relative;
}

.contents .hover_ani .li_des {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    margin: 0 10px;
}
.contents .hover_ani .li_des h3 {
    font-size: 30px;
    margin-bottom: 10px;
}
.contents .hover_ani .li_des p {
    font-size: 16px;
}
.contents .hover_ani .li_des button {
    border: none;
    background-color: #fff;
    margin-top: 20px;
    color: #333;
    font-size: 12px;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
}
.contents .hover_ani .li_des i {
    font-size: 14px;
    margin-top: 10px;
    opacity: 0;
}
.contents .hover_ani:hover .li_des i {
    transition: all 0.5s;
    opacity: 1;
}
/* 3번째 */
.six_tab {
    position: relative;
}
.six_tab h1 {
    font-size: 38px;
    text-align: center;
    color: white;
    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
.six_tab .product .slick-slide {
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.six_tab .product .p1 {
    background-image: url(../img/3bg.jpg);
}
.six_tab .product .p2 {
    background-image: url(../img/3bg.jpg);
}
.six_tab .product .p3 {
    background-image: url(../img/3bg.jpg);
}
.six_tab .product .p4 {
    background-image: url(../img/3bg.jpg);
}
.six_tab .product .p5 {
    background-image: url(../img/3bg.jpg);
}
.six_tab .product .p6 {
    background-image: url(../img/3bg.jpg);
}
.six_tab .product .slick-slide > div {
    width: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.six_tab .product .slick-slide .product_left {
    color: #fff;
}
.six_tab .product .slick-slide .product_left h3 {
    color: white;
    font-size: 38px;
    margin-bottom: 60px;
}
.six_tab .product .slick-slide .product_left p {
    color: white;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 60px;
}
.six_tab .product .slick-slide .product_left .contents {    
    position: relative;
    width: 170px;
}
.six_tab .product .slick-slide .product_left .contents .hover_ani .li_des {
    margin: 0;
}
.six_tab .product .slick-slide .product_left .contents .hover_ani .li_bg {
    border: none;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    border-radius: 40px;
    width: 170px;
    height: 75px;
    position: absolute;
}
.six_tab .product .slick-slide .product_left .contents .hover_ani button {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    color: #fc8643;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    width: 100%;
    line-height: 30px;
}
.six_tab .product .slick-slide .product_left .contents .hover_ani i {
    margin-top: 0;
    width: 100%;
    text-align: center;
    color: #fc8643;
}
.six_tab .product .slick-slide .product_right {
    position: relative;
}
.six_tab .product .slick-slide .product_right i {
    position: absolute;
    font-size: 180px;
    font-weight: bold;
    color: #FFF;
    opacity: 0.3;
    font-style: normal;
    white-space: nowrap;
    /* opacity: 0; */
    top: 35%;
    transition: all 0.7s;
}
.six_tab .product .slick-active .product_right i {
    opacity: 0.3;
    top: 40%;
}
.six_tab .product .slick-slide .product_right .product_img {
    position: absolute;
    animation:product_ani 1s infinite;
    width: 50%;
}
.slick-dotted.slick-slider {
    margin-bottom: 0px;
}
.six_tab .product .slick-dots {
    bottom: 20px;
}
.six_tab .product .slick-dots li {
    width: 120px;
    height: 120px;
    margin: 30px;
}
.six_tab .product .slick-dots li button {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
}
.six_tab .product .slick-dots li:first-child button {
    background-image: url(../img/3-7.jpg);
}
.six_tab .product .slick-dots li:nth-child(2) button {
    background-image: url(../img/3-8.jpg);
}
.six_tab .product .slick-dots li:nth-child(3) button {
    background-image: url(../img/3-9.jpg);
}
.six_tab .product .slick-dots li:nth-child(4) button {
    background-image: url(../img/3-10.jpg);
}
.six_tab .product .slick-dots li:nth-child(5) button {
    background-image: url(../img/3-11.jpg);
}
.six_tab .product .slick-dots li:last-child button {
    background-image: url(../img/3-12.png);
}
.six_tab .product .slick-dots .slick-active button {
    border: 5px solid #fff;
}
.six_tab .product .slick-dots li button:before {
    font-family: 'Noto Sans KR', sans-serif;
    top: auto;
    bottom: -10px;
    text-align: center;
}
.six_tab .product .slick-dots li button:before {
    content: "커피";
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    opacity: 1;
    color: #fff;
    top: 126px;
}
.six_tab .product .slick-dots li:nth-child(2) button:before {
    content: "그라니따";
}
.six_tab .product .slick-dots li:nth-child(3) button:before {
    content: "티";
}
.six_tab .product .slick-dots li:nth-child(4) button:before {
    content: "케이크";
}
.six_tab .product .slick-dots li:nth-child(5) button:before {
    content: "베이커리";
}
.six_tab .product .slick-dots :last-child button:before {
    content: "젤라또";
}
/* 4번째  */
.line_tab {
    /* background-color: #78a8bc; */
    background-image: url(../img/blue.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.line_tab > div {
    /* 자식객체 h1rhk .md을 위아래로 정렬 */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.line_tab h1 {
    text-align: center;
    color: #42748b;
    font-size: 38px;
    margin-bottom: 32px;
}
.line_tab .md {
    width: 50%;
    margin-top: 20px;
}
.line_tab .md .md_title {
    border-radius: 60px;
    border: 4px solid #74a5bb;
}
.line_tab .md #thumbnail-carousel {
    width: 92%;
    margin: 0 auto;
}
.line_tab .md #thumbnail-carousel .splide__arrow {
    display: none;
}
.line_tab .md #thumbnail-carousel .splide__list {
    /* 자식객체 li를 가로로 균등한 간격으로 나열 */
    display: flex;
    justify-content: space-around;
}
.line_tab .md #thumbnail-carousel .splide__list li {
    /* 자식객체 a태그의 글자를 세로 가운데 정렬 */
    display: flex;
    align-items: center;
}
.splide__track--nav>.splide__list>.splide__slide {
    border: none;
}
.splide__track--nav>.splide__list>.splide__slide a {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}
.splide__track--nav>.splide__list>.splide__slide a i {
    margin-left: 10px;
    font-size: 18px;
    color: #42748b;
}
/* splide thumbnail 활성화된 버튼 스타일 */
.splide__track--nav>.splide__list>.splide__slide.is-active {
    border: none;
}
.splide__track--nav>.splide__list>.splide__slide.is-active a {
    color: #0f73ad;
}
/* line_tab의 이미지 splide */
.splide__track--fade>.splide__list>.splide__slide {
    /* 자식객체 .splide_img와 .splide_des를 가로로 균등배열 */
    display: flex;
    height: 400px;
    margin-top: 50px;
}
.splide__track--fade>.splide__list>.splide__slide > div {
    position: relative;
    width: 50%;
    /* 자식객체 .splide_img_in , .splide_des_in를 각자의 부모객체를 기준으로 정가운데 배치 */
    display: flex;
    /* flex-flow: column nowrap; */
    justify-content: center;
    align-items: center;
}
.splide__track--fade>.splide__list>.splide__slide .slide_img .splide_img_in {
    position: absolute;
    left: -200px;
    opacity: 0;
    transition: all 0.5s;
}
/* 왼쪽에서 나타나는 애니메이션 */
.splide__track--fade>.splide__list>.splide__slide.is-active .slide_img .splide_img_in {
    opacity: 1;
    left: 0px;
}
.splide__track--fade>.splide__list>.splide__slide .splide_des .splide_des_in {
    /* h3과 p태그를 부모객체의 가운데로 정렬 */
    /* display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center; */
    position: absolute;
    opacity: 0;
    right: -200px;
    transition: all 0.5s;
    width: 85%;
}
/* 오른쪽에서 글자가 나타나는 애니메이션 */
.splide__track--fade>.splide__list>.splide__slide.is-active .splide_des .splide_des_in {
    opacity: 1;
    right: 0px;
}
.splide__track--fade>.splide__list>.splide__slide .splide_des .splide_des_in h3 {
    margin-bottom: 60px;
    font-size: 25px;
    color: #42748b;
    width: 100%;
    text-align: left;
}
.splide__track--fade>.splide__list>.splide__slide .splide_des .splide_des_in p {
    color: #42748b;
    font-size: 18px;
    line-height: 24px;
}
/* 5번째 */
.hive {
    background-image: url(../img/5bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hive > div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.hive h1 {
    text-align: center;
    color: #fc8643;
    font-size: 40px;
    margin-top: 70px;
    margin-bottom: 24px; 
}
.hive .hive_box {
    width: 80%;
    height: 600px;
    margin-top: 70px;
    display: flex;
    flex-flow: row nowrap;
}
.hive .hive_box > div {
    width: 50%;
    padding: 50px;
    position: relative;
    text-align: center;
}
.hive .hive_box .hive_left {
    text-align: left;
    margin-left: 120px;
}
.hive .hive_box .hive_left h3 {
    font-size: 36px;
    line-height: 48px;
    color: #fc8643;
    margin-top: 70px;
    margin-bottom: 30px;
}
.hive .hive_box .hive_left p {
    font-size: 22px;
    line-height: 26px;
    color: #fca574;
}
.hive .hive_box .hive_right {
    margin-bottom: 160px;
    left: -120px;
}
.hive .hive_box .hive_right p {
    font-size: 18px;
    margin-top: 8px;
    font-weight: bold;
    color: #fc8643;
}
.hive .hive_box .hive_right > div {
    position: absolute;
    width: 75%;
    height: 100%;
}
.hive .hive_box .hive_right > div > div {
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 100%;
    border: 5px solid transparent;
    position: absolute;
    cursor: pointer;
}
/* 6번째 */
.photo {
    background-image: url(../img/6-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.photo h1 {
    color: #eb3e40;
    font-size: 85px;
    font-weight: bold;
    margin: 0 70px 400px;
}
/* 7번째 */
.event {

}
.event > div {
    /* 자식객체가 가로로 나열 */
    display: flex;
    flex-flow: row nowrap;
    background-color: #ff9a62;
}
.event > div > div {
    width: 50%;
}
.event .swiper {
    width: 100%;
    height: 100%;
}
.event .swiper .swiper-slide {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.event .swiper .event1 {
    background-image: url(../img/7-1.png);
}
.event .swiper .event2 {
    background-image: url(../img/7-2.png);
}
.event .swiper .event3 {
    background-image: url(../img/7-3.png);
}
.event .swiper .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom:50px;
}
.event .swiper .swiper-pagination-bullet {
    background-color: transparent;
    border: 2px solid #fff;
    transition: all 0.3s;
    opacity: 1;
    border-radius: 10px;
}
.event .swiper .swiper-pagination-bullet-active {
    width: 30px;
    background-color: #fc8643;
    border-color: #fc8643;
}
.event .event_right {
    color: #fff;
    margin-left: 120px;
    margin-top: 350px;
}
.event .event_right h2 {
    font-size: 20px;
    margin-bottom: 10px;
}
.event .event_right h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
.event .event_right p {
    font-size: 17px;
    line-height: 30px;
}
.event .event_right .contents .hover_ani .li_des button {
    width: 200px;
    height: 50px;
    border: none;
    background-color: #fff;
    margin-top: 50px;
    margin-left: -10px;
    color: #fc8643;
    font-size: 16px;
    font-weight: bold;
    border-radius: 40px;
    padding: 10px 20px;
    cursor: pointer;
}
.event .event_right .contents .hover_ani .li_des i {
    margin-top: 0;
    width: 100%;
    text-align: center;
    color: #333;
}
/* 8번째 */
.store {
    background-image: url(../img/8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.store > div {
    /* 자식객체를 가운데로 정렬 */
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.store h1 {
    text-align: center;
    color: #549e70;
    font-size: 38px;
    margin-bottom: 70px;
    text-align: center;
}
.store .store_box {
    width: 40%;
    height: 400px;
    /* 자식객체를 가운데로 정렬 */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.store .store_box .contents {
    width: 350px;
    height: 350px;
    cursor: pointer;
}
.store .store_box .contents div {
    width: 100%;
    height: 100%;
}
.store .store_box .contents > div > div  {
    position: absolute;
}
.store .store_box .contents .li_bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
}
.store .store_box .contents .li_des {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
}
.store .store_box .contents .li_des h3 {
    font-size: 40px;
    margin-bottom: 20px;
}
.store .store_box .contents .li_des p {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}
.store .store_box .contents .li_des button {
    margin-top: 40px;
    cursor: pointer;
    font-weight: bold;
}

.store .contents .hover_ani .bg1 {
    background-color: #7ea8da;
    
} 
.store .contents .hover_ani .bg2 {
    background-color: #e9d56a;
}    

/* footer */
footer {
    background-color: #fdfdfd;
    position: relative;
    padding-bottom: 80px;
}
footer .top {
    width: 220px; height: 200px;
    position: absolute;
    color: #549e70;
    font-size: 18px;
    text-align: center;
    border-radius: 100%;
    background-color: #fdfdfd;
    left: 50%;
    transform: translateX(-50%);
    top: -60px;
    padding-top: 20px;
    font-weight: bold;
    cursor: pointer;
}
.footer_box {
    width: 1200px;
    margin: 0 auto;
    padding: 80px 0;
}
.footer_top {
    width: 1200px;
    margin: 0 auto;
    padding: 80px 0 40px;
    border-bottom: 1px solid #ddd;
    /*자식객체를 양쪽 정렬 */
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.footer_top .tel {
    display: flex;
    flex-flow: row nowrap;
    color: #fc8643;
    font-weight: bold;
}
.footer_top .tel span {
    font-size: 30px;
}
.footer_top .tel1 p {
    font-size: 50px;
    margin-top: 10px;
}
.footer_top .tel2 {
    font-size: 13px;
    line-height: 20px;
    padding-top: 73px;
    margin-left: 20px;
}
.footer_top .sns ul {
    margin-top: 50px;
    width: 300px;
    display: flex;
    justify-content: space-between;
}
.footer_top .sns ul li {
    width: 36px;
}
.footer_bottom {
    width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.footer_bottom .info ul {
    width: 550px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.footer_bottom .info ul li a {
    border-radius: 10px 10px 10px 0;
    background-color: #82c99d;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
}
.footer_bottom .info ul li:nth-child(odd) a {
    border-radius: 10px 10px 10px 0;
    background-color: #fc8643;
}
.footer_bottom .info ul li:last-child a {
    border-radius: 10px 10px 10px 0;
    background-color: #7ea8da;
}
.footer_bottom address {
    font-style: normal;
    margin-top: 50px;
    font-size: 14px;
    line-height: 27px;
    color: #666;
}
.footer_bottom .footer_logo {
    width: 120px;
    margin-top: 30px;
}



/* 미디어쿼리========================================== */



/* 노트북 : min-width:1200px ~ max-width:1600px */
@media screen and (max-width:1600px){
    header .sub_bg {
        height: 200px;
    }
    .visual .swiper .s1 {
        background-image: url(../img/1-4.jpg);
    }
    .visual .swiper .s2 {
        background-image: url(../img/1-5.jpg);
    }
    .visual .swiper .s3 {
        background-image: url(../img/1-6.jpg);
    }
    .banner .contents {
        width: 60%;
    }
    .contents .hover_ani .li_des h3 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .contents .hover_ani .li_des p {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .contents .hover_ani .li_des button {
        margin-top: 20px;
        font-size: 14px;
    }
    .contents .hover_ani .li_des i {
        font-size: 14px;
        margin-top: 10px;
        opacity: 0;
    }
    .splide__track--fade>.splide__list>.splide__slide .splide_des .splide_des_in h3 {
        font-size: 26px;
    }
    .splide__track--fade>.splide__list>.splide__slide .splide_des .splide_des_in p {
        font-size: 16px;
    }
    .slick-slide img {
        margin-top: 40px;
    }
    .line_tab h1 {
        margin-top: 60px;
        margin-bottom: 25px;
    }
    .line_tab .md {
        width: 43%;
        margin-top: 15px;
    }
    .splide__track--fade>.splide__list>.splide__slide .splide_des .splide_des_in h3 {
        margin-bottom: 45px;
        font-size: 26px;
    } 
    .splide__track--fade>.splide__list>.splide__slide .splide_des .splide_des_in p {
        font-size: 14px;
    }
    .line_tab .md .md_title {
        border-radius: 60px;
        border: 4px solid #74a5bb;
        margin-top: 20px;
        margin-bottom: -28px;
    }
    .hive h1 {
        margin-top: 110px;
    }
    .hive .hive_box .hive_left {
        text-align: left;
        margin-left: 20px;
    }
    .hive .hive_box .hive_right {
        margin-bottom: 200px;
        left: -70px;
    }
    .hive .hive_box .hive_right p {
        font-size: 17px;
    }
    .store .store_box .contents {
        width: 280px;
        height: 280px;
        margin: 20px;
    }
    .store .store_box .contents .li_des h3 {
        font-size: 32px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .store .store_box .contents .li_des p {
        font-size: 28px;
    }
    .store .store_box .contents .li_des button {
        margin-top: 15px;
        font-size: 13px;
    }
    footer .top {
        font-size: 20px;
        top: -80px;
    }
}
/* 노트북 : min-width:1025px ~ max-width:1200px */
@media screen and (max-width:1200px){
    .banner .contents {
        width: 80%;
    }
    header nav .sub li a {
        font-size:12px;
        padding:9px;
    }
    header.active {
        height: 90px;
    }
    .visual .swiper .s1 {
        background-image: url(../img/1-9.jpg);
    }
    .visual .swiper .s2 {
        background-image: url(../img/1-7.jpg);
    }
    .visual .swiper .s3 {
        background-image: url(../img/1-8.jpg);
    }
    .splide__track--fade>.splide__list>.splide__slide .splide_des .splide_des_in h3 {
        font-size: 26px;
    }
    .splide__track--fade>.splide__list>.splide__slide .splide_des .splide_des_in p {
        font-size: 12px;
    }
    .splide__track--fade>.splide__list>.splide__slide {
        margin-top: 20px;
    }
    .slick-slide img {
        margin-top: 40px;
    }
    .six_tab .product .slick-slide .product_left h3 {
        font-size: 30px;
        margin-bottom: 50px;
    }
    .six_tab .product .slick-slide .product_left p {
        font-size: 19px;
        margin-bottom: 60px;
    }
    .six_tab .product .slick-slide .product_right i {
        font-size: 117px;
        top: 42%;
    }
    .six_tab .product .slick-slide .product_left .contents .hover_ani button {
        font-size: 18px;
    }
    .line_tab h1 {
        margin-top: 60px;
        margin-bottom: 25px;
    }
    .line_tab .md {
        width: 55%;
        margin-top: 15px;
    }
    .splide__track--fade>.splide__list>.splide__slide .splide_des .splide_des_in h3 {
        margin-bottom: 45px;
        font-size: 23px;
    } 
    .line_tab .md .md_title {
        border-radius: 60px;
        border: 4px solid #74a5bb;
        margin-top: 20px;
        margin-bottom: -28px;
    }
    .hive .hive_box .hive_left {
        text-align: left;
        margin-left: 10px;
    }
    .hive .hive_box .hive_left h3 {
        font-size: 28px;
    }
    .hive .hive_box .hive_left p {
        font-size: 18px;
    }
    .hive .hive_box .hive_right {
        margin-bottom: 200px;
        left: -70px;
    }
    .hive .hive_box .hive_right p {
        font-size: 14px;
    }
    .hive .hive_box .hive_right > div > div {
        width: 130px;
        height: 130px;
    }
    .photo {
        background-image: url(../img/6-3.jpg);
    }
    .photo h1 {
        font-size: 62px;
    }
    .event .event_right {
        color: #fff;
        margin-left: 80px;
        margin-top: 350px;
    }
    .event .event_right h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .event .event_right h1 {
        font-size: 30px;
        margin-bottom: 25px;
    }
    .event .event_right p {
        font-size: 15px;
        line-height: 26px;
    }
    .event .event_right .contents .hover_ani .li_des button {
        width: 100px;
        height: 50px;
        margin-top: 45px;
        color: #fc8643;
        font-size: 14px;
    }
    .store .store_box {
        width: 70%;
    }
    .store .store_box .contents {
        width: 300px;
        height: 300px;
        margin: 50px;
    }
    .store .store_box .contents div {
        width: 100%;
        height: 100%;
    }
    .store .store_box .contents .li_des h3 {
        font-size: 32px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .store .store_box .contents .li_des p {
        font-size: 28px;
    }
    .store .store_box .contents .li_des button {
        margin-top: 15px;
        font-size: 13px;
    }
    .footer_top {
        margin-left: 30px;
    }
    .footer_top .tel span {
        font-size: 28px;
    }
    .footer_top .tel1 p {
        font-size: 45px;
    }
    .footer_top .tel2 {
        font-size: 13px;
        padding-top: 66px;
    }
    .footer_top .sns ul {
        margin-top: 50px;
        width: 300px;
        margin-right: 90px;
    }
    .footer_bottom .info ul {
        width: 610px;
    }
    .footer_bottom .info ul li a {
        margin-left: 30px;
        padding: 10px 20px;
        font-size: 13px;
    }
    .footer_bottom address {
        margin-left: 30px;
    }
    .footer_bottom .footer_logo {
        margin-right: 40px;
        width: 110px;
    }
    
}
/* 태블릿 : max-width:1024px, max-width:768px */
@media screen and (max-width:1024px){
    header { 
        height: 60px;
    }
    header .logo {
        background-image: url(../img/logo2.png);
        width: 175px;
        height: 35px;
        margin-top: 20px;
        margin-left: 30px;
    }
    header nav {
        display: none;
    }
    header .right_menu {
        display: none;
    }
    header.active {
        height: 80px;
    }
    header.active .logo {
        width: 200px;
    }
    header:after {
        display: none;
    }
    header .menu_btn {
        display: block;
        width: 45px;
        margin-top: 20px;
        margin-right: 30px;
    }
    header .mobile_nav {
        display: block;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        z-index: 200;
        top: 0;
        right: -100%;
    }
    header .mobile_nav .mobile_nav_in {
        width: 80%;
        height: 100vh;
        background-color: #fff;
        float: right;
        /* 자식객체 .mobile_close의 기준이 됨 */
        position: relative;
    }
    header .mobile_nav .mobile_nav_in .mobile_top_menu {
        background-color: #fc8643;
        height: 60px;
        padding-left: 18px;
    }
    header .mobile_nav .mobile_nav_in .mobile_top_menu ul {
        display: flex;
        height: 100%;
        align-items: center;
    }
    header .mobile_nav .mobile_nav_in .mobile_top_menu ul li a{
        font-size: 18px;
        color: #fff;
        padding: 10px;
        text-decoration: none;
    }
    header .mobile_nav .mobile_nav_in nav {
        display: block;
        width: 100%;
        margin-top: 0;
        margin-left: 0;
        transition: none;
    }
    header .mobile_nav .mobile_nav_in nav ul {
        /* 하위객체들을 열기준으로 정렬 */
        flex-flow: column nowrap;
    }
    header .mobile_nav .mobile_nav_in nav ul li {
        /* border-top: 1px solid #eee; */
        border-bottom: 1px solid #eee;
    }
    header .mobile_nav .mobile_nav_in nav ul li a {
        padding: 16px;
        font-size: 16px;
        padding-left: 30px;
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
    }
    header .mobile_nav .mobile_nav_in nav > ul > li > a i {
        opacity: 1;
        font-size: 16px;
        color: #333;
        padding-right: 20px;
        margin: 0;
        transition:none;
    }
    header .mobile_nav .mobile_nav_in nav > ul > li.active > a {
        color: #fc8643;
    }
    header .mobile_nav .mobile_nav_in nav > ul > li.active > a i {
        color: #fc8643;
        /* 180도 회전시킴 */
        transform: rotateX(180deg);
    }
    header .mobile_nav .mobile_nav_in nav .sub {
        display: none;
        border-top: 1px solid #eee;
        background-color: #f8f8f8;
    }
    header .mobile_nav .mobile_nav_in nav .sub li {
        border: none;
    }
    header .mobile_nav .mobile_nav_in nav .sub li a {
        padding-left: 40px;
    }
    header .mobile_nav .mobile_nav_in .mobile_sns {
        margin-top: 20px;
    }
    header .mobile_nav .mobile_nav_in .mobile_sns ul {
        display: flex;
        justify-content: center;
    }
    header .mobile_nav .mobile_nav_in .mobile_sns ul li {
        width: 40px;
        margin: 20px;
    }
    /* 모바일 메뉴 영역 닫기 버튼 */
    header .mobile_nav .mobile_nav_in .mobile_close {
        width: 23px;
        position: absolute;
        top: 20px;
        right: 30px;
    }
    .visual {
        height: 110vh;
    }
    .visual .swiper .s1 {
        background-image: url(../img/m1-4.png);
    }
    .visual .swiper .s2 {
        background-image: url(../img/m1-5.png);
    }
    .visual .swiper .s3 {
        background-image: url(../img/m1-6.png);
    }
    /* 2번째 */
    .banner {
        height: 600px;
    }
    .banner h1 {
        text-align: center;
        margin-top: 40px;
    }
    .banner .contents {
        width: 100%;
        margin-left: 20px;
    }
    .banner .contents ul li {
        width: 300px;
        height: 320px;
        margin-right: 60px;
    }
    /* 3번째 */
    .six_tab h1 {
        font-size: 28px;
        top: 90px;
    }
    .six_tab .product .slick-slide {
        height: 90vh;
    }
    .six_tab .product .slick-slide > div {
        margin-bottom: 40px;
    }
    .six_tab .product .slick-slide .product_left h3 {
        font-size: 26px;
    }
    .six_tab .product .slick-slide .product_left p {
        font-size: 17px;
    }
    .six_tab .product .slick-slide .product_right i {
        font-size: 100px;
        top: 45%;
    }
    .six_tab .product .slick-dots {
        bottom: 40px;
    }
    .six_tab .product .slick-dots li {
        margin: 20px;
        width: 100px;
        height: 100px;
    }
    /* 4번째 */
    .line_tab {
        padding: 100px;
    }
    .line_tab .md {
        width: 100%;
    }
    .line_tab .md img {
        width: 80%;
    }
    .line_tab .md > div {
        width: 100%;
    }
    /* 5번째 */
    .hive {
        padding: 100px;
        height: 700px;
    }
    .hive h1 {
        font-size: 34px;
        margin-top: 10px;
    }
    .hive .hive_box {
        width: 100%;
        height: 300px;
        flex-flow: column nowrap;
        justify-content: space-around;
    }
    .hive .hive_box .hive_left h3 {
        font-size: 24px;
        line-height: 38px;
        text-align: center;
        margin-top: 30px;
        color: #ff9252;
        margin-bottom: 60px;
    }
    .hive .hive_box .hive_left p {
        display: none;
    }
    .hive .hive_box .hive_right {
        width: 100%;
        margin-top: -80px;
    }
    .hive .hive_box .hive_right .hive_contents {
        display: none;
    }
    .hive .hive_box .hive_right .hive_btns {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .hive .hive_box .hive_right .hive_btns .contents {
        position: relative;
    }
    /* 6번째 */
    .photo {
        background-image: url(../img/6bg.jpg);
        /* padding: 150px; */
        height: 800px;
    }
    .photo h1 {
        font-size: 55px;
        margin-left: 10px;
        padding: 50px;
        margin-top: 40px;
    }
    /* 7번째 */
    .event .swiper {
        width: 100%;
        height: 650px;
    }
    .event .swiper {
        overflow: visible;
    }
    .event .swiper .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
        bottom: -60px;
        text-align: left;
        margin-left: 66px;
        margin-bottom: 10px;
    }        
    .event .event_right {
        height: 420px;
        padding: 70px;
        margin-top: 0px;
        margin-left: 0px;
        /* 자식객체를 열기준으로 나열 */
        flex-flow: column nowrap;
    }
    /* 8번째 */
    .store .store_box {
        width: 100%;
    }
    .store h1 {
        margin-top: 60px;
        font-size: 40px;
    }
    /* 푸터 */
    .footer_top .sns ul {
        margin-top: 65px;
        width: 250px;
        margin-right: 290px;
    }
    .footer_bottom .footer_logo {
        margin-right: 250px;
        width: 100px;
    }
}





@media screen and (max-width:768px){
    /* 2번째 */
    .banner {
        padding: 100px;
    }
    .banner h1 {
        font-size: 50px;
        margin-top: -80px;
        margin-bottom: -10px;
    }
    .banner .contents {
        margin-top: 50px;
    }
    .banner .contents ul {
        flex-flow: row wrap;
        justify-content: center
    }
    .banner .contents .hover_ani .li_des {
        margin-left: 0px;
    }
    .banner .contents .hover_ani .li_des h3 {
        font-size: 22px;
    }
    .banner .contents .hover_ani .li_des p {
        font-size: 18px;
        margin-bottom: 0px;
    }
    .banner .contents .hover_ani .li_des i {
        opacity: 1;
    }
    .contents .hover_ani .li_des button {
        font-size: 12px;
    }
    .banner .contents ul li {
        width:220px;
        height: 220px;
        margin-right: 60px;
    }
    .banner .contents ul li .bg1 {
        width: 220px;
        height: 220px;
        border-radius: 160px;
        background-color: #f89679;
    }
    .banner .contents ul li .bg2 {
        width: 220px;
        height: 220px;
        border-radius: 160px;
        background-color: #82c99d;
    }
    .banner .contents ul li .bg3 {
        width: 220px;
        height: 220px;
        border-radius: 160px;
        background-color: #7ea8da;
    }
    /* 3번째 */
    .six_tab h1 {
        font-size: 28px;
        top: 60px;
    }
    .six_tab .product .slick-slide {
        height: 70vh;
    }
    .six_tab .product .slick-slide > div {
        margin-bottom: 40px;
    }
    .six_tab .product .slick-slide .product_left h3 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    .six_tab .product .slick-slide .product_left p {
        font-size: 12px;
        margin-bottom: 20px;
        line-height: 30px;
    }
    .six_tab .product .slick-slide .product_right i {
        font-size: 80px;
        top: 45%;
    }
    .six_tab .product .slick-dots {
        bottom: 70px;
    }
    .six_tab .product .slick-dots li {
        margin: 13px;
        width: 80px;
        height: 80px;
    }
    .six_tab .product .slick-slide .product_left .contents .hover_ani button {
        font-size: 14px;
    }
    .six_tab .product .slick-slide .product_left .contents .hover_ani .li_bg {
        font-size: 16px;
        width: 170px;
        height: 50px;
        top: 10px;
    }
    .six_tab .product .slick-dots li button:before {
        font-size: 13px;
        top: 100px;
    }
    /* 4번째 */
    .line_tab {
        padding: 70px;
    }
    .line_tab h1 {
        margin-top: 80px;
        font-size: 32px;
    }
    .line_tab .md {
        width: 100%;
    }
    .line_tab .md img {
        width: 90%;
    }
    /* 5번째 */
    .hive {
        padding: 70px;
        height: 500px;
    }
    .hive h1 {
        font-size: 30px;
        margin-top: 0px;
        margin-bottom: 100px;
    }
    .hive .hive_box {
        width: 100%;
        height: 200px;
        flex-flow: column nowrap;
        justify-content: space-around;
    }
    .hive .hive_box .hive_left h3 {
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 60px;
    }
    .hive .hive_box .hive_left {
        padding: 10px;
        margin: 10px;
        margin-bottom: 30px;
    }
    .hive .hive_box .hive_right {
        width: 100%;
        margin-top: -100px;
    }
    .hive .hive_box .hive_right p {
        margin-top: 15px;
        font-size: 14px;
    }
    .hive .hive_box .hive_right > div > div {
        width: 100px;
        height: 100px;
        left: 20px;
    }
    /* 6번째 */
    .photo {
        background-image: url(../img/6bg.jpg);
        /* padding: 150px; */
        height: 600px;
    }
    .photo h1 {
        font-size: 43px;
        margin-left: 10px;
        padding: 0px;
        margin-left: 30px;
        margin-top: 70px;
    }
    /* 7번째 */
    .event .swiper {
        width: 100%;
        height: 490px;
    }     
    .event .event_right {
        height: 360px;
    }
    .event .event_right h2 {
        font-size: 16px;
        font-weight: normal;
        margin-bottom: 10px;
    }
    .event .event_right h1 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .event .event_right p {
        font-size: 14px;
        margin-bottom: -20px;
    }
    /* 8번째 */
    .store .store_box {
        width: 100%;
    }
    .store h1 {
        margin-top: 60px;
        font-size: 40px;
        margin-bottom: 15px;
    }
    .store .store_box .contents {
        width: 300px;
        height: 280px;
        margin: 50px;
    }
    /* 푸터 */
    .footer_top .sns ul {
        margin-top: 70px;
        width: 120px;
        margin-right: 500px;
    }
    .footer_bottom .footer_logo {
        margin-right: 450px;
        width: 80px;
    }



}
/* 모바일 : max-width:480px */
@media screen and (max-width:480px){
    header {
        height: 60px;
    }
    header.aceive {
        height: 60px;
    }
    header.active .logo {
        width: 150px;
        height: 40px;
        margin-top: 20px;
        margin-left: 20px;
    }
    header.active .menu_btn {
        width: 30px;
        margin-top: 28px;
        margin-right: 20px;
    }
    .visual {
        height: 700px;
    }
    .visual .swiper .s1 {
        background-image: url(../img/m1-7.png);
    }
    .visual .swiper .s2 {
        background-image: url(../img/m1-8.png);
    }
    .visual .swiper .s3 {
        background-image: url(../img/m1-6.png);
    }
    .visual .swiper-horizontal>.swiper-pagination-bullets {
        bottom: 50px;
    }
    .visual .swiper-horizontal>.swiper-pagination-bullets span {
        border-radius: 0%;
        width: 40px;
        height: 5px;
        margin: 0 7px;
    }
    /* 2번째 */
    .banner {
        padding: 80px 5vw;
        height: 550px;
    }
    .banner .contents ul li {
        width: 150px;
        /* height: 100px; */
    }
    .banner h1 {
        font-size: 40px;
        margin-top: -60px;
        margin-bottom: -10px;
    }
    .banner .contents .hover_ani .li_des {
        margin-left: 15px;
    }
    .banner .contents .hover_ani .li_des h3 {
        margin-top: -40px;
    }
    .banner .contents .hover_ani .li_des button {
        display: none;
    }
    .banner .contents ul li .bg1 {
        width: 180px;
        height: 180px;
    }
    .banner .contents ul li .bg2 {
        width: 180px;
        height: 180px;
    }
    .banner .contents ul li .bg3 {
        width: 180px;
        height: 180px;
    }
    
    /* 3번째 */
    .six_tab .product .slick-slide {
        background-image: none;
    }
    .six_tab .product .p1 {
        background-color: #b5d39e;
    } 
    .six_tab .product .p2 {
        background-color: #b5d39e;
    }
    .six_tab .product .p3 {
        background-color: #b5d39e;
    }
    .six_tab .product .p4 {
        background-color: #b5d39e;
    }
    .six_tab .product .p5 {
        background-color: #b5d39e;
    }
    .six_tab .product .p6 {
        background-color: #b5d39e;
    }
    .six_tab .product .slick-slide {
        height: 90vh;
        flex-flow: column nowrap;
    }
    .six_tab .product .slick-slide > div {
        /* width: 60%;
        margin: 0 auto;
        margin-bottom: 150px; */
        position: static;
    }
    .six_tab .product .slick-slide .product_left {
        /* 자식객체끼리 순서 변경 */
        order: 2;
        width: 70%;
        margin: 0 auto;
    }
    .six_tab .product .slick-dots {
        bottom: 50px;
    }
    .six_tab .product .slick-dots li {
        width: 60px;
        height: 60px;
        margin: 8px;
    }
    .six_tab h1 {
        font-size: 28px;
        top: 30px;
    }
    .six_tab .product .product_right i {
        display: none;
    }
    .six_tab .product .slick-dots li button:before {
        display: none;
        margin-top: -30px;
        font-weight: normal;
    }
    .slick-slide img {
        margin-top: -30px;
        width: 120%;
        margin-left: -20px;
    }
    .six_tab .product .slick-slide .product_left h3 {
        font-size: 20px;
        margin-top: 110px;
        margin-bottom: 10px;
    }
    .six_tab .product .slick-slide .product_left p {
        font-size: 12px;
        line-height: 24px;
    }
    .six_tab .product .slick-slide .product_right {
        order: 1;
        margin: 0 auto;
        margin-top: 240px;
        width: 60%;
    }
    .six_tab .product .slick-slide .product_left .contents .hover_ani i {
        display: none;
    }

    /* 4번째 */
    .line_tab {
        padding: 100px 5vw;
        height: 700px;
    }
    .line_tab .md img {
        width: 100%;
    }
    .line_tab .md #thumbnail-carousel .splide__list {
        justify-content:flex-start;
    }
    .line_tab .md #thumbnail-carousel .splide__list .splide__slide {
        padding:20px;
    }
    .line_tab .md #main-carousel .splide__slide {
        flex-flow:row nowrap;
        height:auto;
    }
    .line_tab .md #main-carousel .splide__slide .splide_img {
        width:100%;
        height:400px;
        overflow: hidden;
    }
    .line_tab .md #main-carousel .splide__slide .splide_des {
        width:100%;
        height:330px;
    }
    .line_tab .md #main-carousel .splide__slide .splide_des h3 {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .line_tab .md #main-carousel .splide__slide .splide_des p {
        font-size: 11px;
    }
    .line_tab .md #main-carousel .splide__slide .splide_img .splide_img_in {
        left:0;
    }
    .line_tab .md #main-carousel .splide__slide .splide_des .splide_des_in {
        width:100%;
    }
    .splide__track--fade>.splide__list>.splide__slide {
        margin-top: -30px;
    }
    .splide__track--fade>.splide__list>.splide__slide .splide_des .splide_des_in p {
        /* display: none; */
    }
    .splide__track--fade>.splide__list>.splide__slide > div {
        width: 75%;
        margin-right: 20px;
    }
    
    /* 5번째 */
    .hive {
        height: 400px;
        padding: 20px 5vw;
    }
    .hive h1 {
        font-size: 26px;
        margin-top: 30px;
    }
    .hive .hive_box {
        margin-top: 30px;
        height: 200px;
    }
    .hive .hive_box .hive_left h3 {
        display: none;
    }
    .hive .hive_box .hive_right {
        width: 100%;
        margin-top: -120px;
    }
    .hive .hive_box .hive_right p {
        margin-top: 10px;
        font-size: 10px;
    }
    .hive .hive_box .hive_right > div > div {
        width: 70px;
        height: 70px;
        left: 20px;
    }
    /* 6번째 */
    .photo {
        background-image: url(../img/6bg.jpg);
        height: 400px;
    }
    .photo h1 {
        font-size: 25px;
    }
    /* 7번째 */
    .event .swiper {
        width: 100%;
        height: 360px;
    }     
    .event .event_right {
        height: 300px;
    }
    .event .event_right h2 {
        font-size: 14px;
        margin-bottom: 10px;
        margin-left: -30px;
    }
    .event .event_right h1 {
        font-size: 20px;
        margin-left: -30px;
    }
    .event .event_right p {
        font-size: 11px;
        line-height: 19px;
        margin-left: -30px;
    }
    .event .event_right .contents .hover_ani .li_des button {
        width: 80px;
        height: 35px;
        margin-left: -42px;
        font-size: 12px;
    }
    .event .swiper .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
        margin-left: 36px;
    }
    /* 8번째 */
    .store .store_box {
        width: 100%;
    }
    .store h1 {
        margin-top: 50px;
        font-size: 30px;
        margin-bottom: -120px;
    }
    .store .store_box .contents {
        width: 150px;
        height: 150px;
        margin: 45px 45px  0;
    }
    .store .store_box .contents .li_des h3 {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .store .store_box .contents .li_des p {
        font-size: 18px;
        margin-bottom: 0px;
    }
    .store .store_box .contents .li_des button {
        display: none;
    }
    .store .store_box .contents .hover_ani .li_des i {
        opacity: 1;
    }
    
    /* 푸터 */
    footer .top {
        display: none;
    } 
    .footer_top .tel span {
        font-size: 18px;
    }
    .footer_top .tel1 p {
        font-size: 30px;
        margin-top: 5px;
    }
    .footer_top .tel2 {
        font-size: 10px;
        line-height: 15px;
        padding-top: 40px;
        margin-left: 20px;
    }
    .footer_bottom .info ul {
        width: 450px;
    }
    .footer_bottom .info ul li {
        margin: -10px;
    }
    .footer_bottom .info ul li a {
        padding: 10px 20px;
        font-size: 10px;
    }
    .footer_bottom address {
        margin-top: 50px;
        font-size: 10px;
        line-height: 17px;
    }
    .footer_top .sns ul {
        width: 70px;
        margin-top: 70px;
        margin-right: 765px;
    }
    .footer_bottom .footer_logo {
       display: none;
    }
    .footer_bottom {
        width:100%;
        padding-bottom:60px;
        background-color: #f8f8f8;
        justify-content: center;
    }
}

/* 모바일 : max-width:360px */
@media screen and (max-width:360px){
    header {
        height: 50px;
    }
    header.acctive {
        height: 50px;
    }
    header.active .logo {
        width: 120px;
        height: 30px;
        margin-top: 27px;
        margin-left: 20px;
    }
    header.active .menu_btn {
        width: 30px;
        margin-top: 30px;
        margin-right: 20px;
    }
    .visual {
        height: 600px;
    }
    .visual .swiper .s2 {
        background-image: url(../img/m1-8.jpg);
    }
    /* 2번째 */
    .banner {
        padding: 80px 5vw;
        height: 550px;
    }
    .banner .contents ul li {
        width: 130px;
        height: 130px;
    }
    .banner h1 {
        font-size: 40px;
        margin-top: -60px;
        margin-bottom: -10px;
    }
    .banner .contents .hover_ani .li_des {
        margin-left: 0px;
        margin-top: 20px;
        
    }
    .banner .contents .hover_ani .li_des h3 {
        margin-top: -40px;
        font-size: 14px;
    }
    .banner .contents .hover_ani .li_des p {
        font-size: 12px;
    }
    .banner .contents .hover_ani .li_des button {
        display: none;
    }
    .banner .contents ul li .bg1 {
        width: 130px;
        height: 130px;
    }
    .banner .contents ul li .bg2 {
        width: 130px;
        height: 130px;
    }
    .banner .contents ul li .bg3 {
        width: 130px;
        height: 130px;
    }

    /* 3번째 */
    .six_tab .product .slick-slide {
        height: 75vh;
        flex-flow: column nowrap;
    }
    .six_tab .product .slick-slide > div {
        /* width: 60%;
        margin: 0 auto;
        margin-bottom: 150px; */
        position: static;
    }
    .six_tab .product .slick-slide .product_left {
        /* 자식객체끼리 순서 변경 */
        order: 2;
        width: 70%;
        margin: 0 auto;
    }
    .six_tab .product .slick-dots {
        bottom: 30px;
    }
    .six_tab .product .slick-dots li {
        width: 52px;
        height: 52px;
        margin: 3px;
    }
    .six_tab h1 {
        font-size: 22px;
        top: 30px;
    }
    .six_tab .product .product_right i {
        display: none;
    }
    .six_tab .product .slick-dots li button:before {
        display: none;
        margin-top: -30px;
        font-weight: normal;
    }
    .slick-slide img {
        margin-top: -40px;
        width: 120%;
        margin-left: -20px;
    }
    .six_tab .product .slick-slide .product_left h3 {
        font-size: 18px;
        margin-top: 80px;
        margin-bottom: 10px;
    }
    .six_tab .product .slick-slide .product_left p {
        font-size: 10px;
        line-height: 24px;
    }
    .six_tab .product .slick-slide .product_right {
        order: 1;
        margin: 0 auto;
        margin-top: 240px;
        width: 60%;
    }
    .six_tab .product .slick-slide .product_left .contents .hover_ani i {
        display: none;
    }
    .six_tab .product .slick-slide .product_left .contents .hover_ani button {
        font-size: 10px;
        margin-top: 11px;
        margin-left: -5px;
    }
    .six_tab .product .slick-slide .product_left .contents .hover_ani .li_bg {
        font-size: 16px;
        width: 100px;
        height: 30px;
        top: 10px;
        margin-left: 30px;
    }
    
    /* 4번째 */
    .line_tab {
        padding: 100px 5vw;
        height: 700px;
    }
    .line_tab .md #thumbnail-carousel .splide__list .splide__slide {
        padding:10px;
    }
    .line_tab .md #main-carousel .splide__slide .splide_img {
        width:100%;
        height:400px;
        overflow: hidden;
    }
    .line_tab .md #main-carousel .splide__slide .splide_des h3 {
        font-size: 20px;
        margin-top: 40px;
        margin-bottom: 20px;
        margin-left: 15px;
    }
    .line_tab .md #main-carousel .splide__slide .splide_des p {
        display: none;
    }
    /* 5번째 */
    .hive {
        height: 350px;
        padding: 20px 5vw;
    }
    .hive h1 {
        font-size: 24px;
        margin-top: 40px;
    }
    .hive .hive_box .hive_right > div > div {
        width: 60px;
        height: 60px;
        margin: 2px;
        left: 20px;
    }

    /* 6번째 */
    .photo {
        background-image: url(../img/6bg.jpg);
        height: 300px;
    }
    .photo h1 {
        font-size: 21px;
        margin-top: 35px;
        margin-left: 15px;
    }

    /* 7번째 */
    .event .swiper {
        width: 100%;
        height: 260px;
    }     
    .event .event_right {
        height: 260px;
    }
    .event .event_right h2 {
        font-size: 12px;
        margin-top: -10px;
        margin-bottom: 5px;
        margin-left: -50px;
    }
    .event .event_right h1 {
        font-size: 17px;
        margin-left: -50px;
        margin-bottom: 5px;
    }
    .event .event_right p {
        font-size: 11px;
        line-height: 19px;
        margin-left: -50px;
    }
    .event .event_right .contents .hover_ani .li_des button {
        width: 70px;
        height: 30px;
        margin-top: 30px;
        margin-left: -64px;
        font-size: 10px;
    }
    .event .swiper .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
        margin-left: 15px;
    }

    /* 8번째 */
    .store .store_box {
        width: 100%;
    }
    .store h1 {
        margin-top: 40px;
        font-size: 20px;
        margin-bottom: -120px;
    }
    .store .store_box .contents {
        width: 100px;
        height: 90px;
    }
    .store .store_box .contents .li_des h3 {
        font-size: 16px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .store .store_box .contents .li_des p {
        font-size: 14px;
        margin-bottom: 0px;
    }
    .store .store_box .contents .li_des button {
        display: none;
    }
    .store .store_box .contents .hover_ani .li_des i {
        opacity: 1;
    }
    /* 푸터 */
    footer .top {
        display: none;
    } 
    .footer_top .tel span {
        font-size: 14px;
    }
    .footer_top .tel1 p {
        font-size: 24px;
        margin-top: 5px;
    }
    .footer_top .tel2 {
        font-size: 10px;
        line-height: 15px;
        padding-top: 30px;
        margin-left: 20px;
    }
    .footer_bottom .info ul {
        width: 450px;
    }
    .footer_bottom .info ul li {
        margin: -10px;
    }
    .footer_bottom .info ul li a {
        padding: 10px 20px;
        font-size: 10px;
    }
    .footer_bottom address {
        margin-top: 50px;
        text-align: center;
        font-size: 10px;
        line-height: 17px;
        margin-right: 30px;
    }
    .footer_top .sns ul {
        width: 30px;
        margin-top: 30px;
        margin-right: 765px;
    }
    .footer_bottom .footer_logo {
       display: none;
    }
    .footer_bottom {
        width:100%;
        padding-bottom:60px;
        background-color: #f8f8f8;
        justify-content: center;
    }
}
